.overlay {
    position: absolute;
    z-index: 2000;
    inset: 0;
    background: rgb(0 0 0 / 50%);
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 320px;
    max-height: 85vh;
    padding: 25px;
    border-radius: var(--border-radius);

    background-color: var(--bg-card);
    box-shadow:var(--shadow-lg);
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
}