.card {
  padding: 1.5rem;
  border-radius: var(--border-radius);

  background-color: var(--bg-card);
  box-shadow: var(--shadow-lg);

  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
}
