.card {
  position: relative;

  padding: 1.5rem;
  border-radius: var(--border-radius);

  background-color: var(--bg-card);
  box-shadow: var(--shadow-lg);

  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
}

.button {
  border: none;
  background: none;
}

.commentsWrapper {
  position: absolute;
  top: 0;
  right: 0;

  overflow: auto;

  height: 100%;

  background-color: var(--bg-card);
}