.button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--primary);
    border-radius: 0.75rem;

    color: var(--text);

    background: var(--bg-primary);

    transition: all 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
    color: var(--accent);
}

.iconSun {
    width: 1.25rem;
    height: 1.25rem;
    transition: color 0.2s ease;
}

.button:hover .iconSun {
    color: #fbbf24;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    transition: color 0.2s ease;
}
